.cards{
    border:2px solid white;
    border-radius: 5px;
    margin:10px;
    height: auto;
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.Cardhome{
    background-color: cadetblue;
}