.navstyle{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border:2px solid black;
    border-radius: 10px;
}

.navstyle.active{
    color:orangered;
    border-color: orangered;
}

.navstyle:hover{
    transform: scale(1.2);
    color:blue;
    font-weight: bolder;
    border-color: blue;
}